<form [formGroup]="registerForm" (ngSubmit)="saveSeller()" class="container">
    <div class="form-group">
      <label>Comapny</label>
      <input class="form-control form-control-sm" type="text" formControlName="companyName">
    </div>
    <div class="form-group">
      <label>Owner</label>
      <input class="form-control form-control-sm" type="text" formControlName="ownerName">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control form-control-sm" type="text" formControlName="address">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control form-control-sm" type="text" formControlName="email">
    </div>
    <div class="form-group">
      <label>Contact No.</label>
      <input class="form-control form-control-sm" type="text" formControlName="phone">
    </div>
    <div class="form-group">
      <label>GSTIN</label>
      <input class="form-control form-control-sm" type="text" formControlName="gstNumber">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control form-control-sm" type="text" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>